# Dependencies
node_modules/


# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache
.vite/
.cache/

# TypeScript
*.tsbuildinfo